<nav class="sidebar">

    <ul>
        <li class="active" onclick="navigate('dashboard')">
            My Dashboard
        </li>

        <li onclick="navigate('profile')">
           My Profile
        </li>

        <li onclick="navigate('employee-info')">
           Employee Info
        </li>

        <li onclick="navigate('employee-idcard')">
           Employee ID Card
        </li>

        <li onclick="navigate('smart-search')">
           Smart Search
        </li>

        <li class="logout" onclick="handleLogout()">
            Logout
      </li>
    </ul>
</nav>
