/* .sidebar {
    width: 240px;
    background: #2f6f73;
    color: white;
    height: 100vh;
    padding: 20px;

    position: fixed;
    top: 0;
    left: 0;

    transform: translateX(-240px);
    transition: transform 0.3s ease;
    z-index: 1000;
} */

.sidebar {
    width: 240px;
    background: lightgray;
    color: black;

    position: fixed;
    top: 64px;                 /* 👈 BELOW TOPBAR */
    left: 0;

    height: calc(100vh - 64px); /* 👈 FILL REST OF SCREEN */

    padding: 20px 0;
    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 900;
} 



body.sidebar-expanded .sidebar {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    cursor: pointer;

}

.sidebar li:hover,
.sidebar .active {
    background: gray;
    border-radius: 6px;
}